In [3]:
import pandas as pd
import numpy as np
import torch

In [4]:
dict_v = {'a':0,'b':1,'c':2,'d':4,'e':5}
dict_v

{'a': 0, 'b': 1, 'c': 2, 'd': 4, 'e': 5}

In [5]:
df = pd.DataFrame({'A':[1,2], 'B':[3,4]})
df

   A  B
0  1  3
1  2  4

In [6]:
df['A']

0    1
1    2
Name: A, dtype: int64

In [7]:
sr = pd.Series(dict_v)
sr

a    0
b    1
c    2
d    4
e    5
dtype: int64

In [8]:
# 储存键与值
v = np.array([1,2,3,4])
k = ['a','b','c','d']

In [9]:
sr = pd.Series(v,k)
sr

a    1
b    2
c    3
d    4
dtype: int64

In [10]:
sr.describe()

count    4.000000
mean     2.500000
std      1.290994
min      1.000000
25%      1.750000
50%      2.500000
75%      3.250000
max      4.000000
dtype: float64

In [11]:
df['A']

0    1
1    2
Name: A, dtype: int64

In [12]:
df[['A','B']]

   A  B
0  1  3
1  2  4

In [18]:
df.loc[1]

A    2
B    4
Name: 1, dtype: int64